@keyframes rgb {
    0%, 100% {
        background: #5f86f2;
    }
    12.5% {
        background: #a65ff2;
    }
    25% {
        background: #f25fd0;
    }
    37.5% {
        background: #f25f61;
    }
    50% {
        background: #f2cb5f;
    }
    62.5% {
        background: #abf25f;
    }
    75% {
        background: #5ff281;
    }
    87.5% {
        background: #5ff2f0;
    }
}
.rgb {

    background: #5f86f2;
    -webkit-animation: rgb 30s ease infinite;
    -moz-animation: rgb 30s ease infinite;
    animation: rgb 30s ease infinite;
}