body {
    background-color: #2c2c2c;
}

@keyframes rgb {
    0%, 100% {
        background: #5f86f2;
    }
    12.5% {
        background: #a65ff2;
    }
    25% {
        background: #f25fd0;
    }
    37.5% {
        background: #f25f61;
    }
    50% {
        background: #f2cb5f;
    }
    62.5% {
        background: #abf25f;
    }
    75% {
        background: #5ff281;
    }
    87.5% {
        background: #5ff2f0;
    }
}

.rgb {
    background: #5f86f2;
    -webkit-animation: rgb 30s ease infinite;
    -moz-animation: rgb 30s ease infinite;
    animation: rgb 30s ease infinite;
}

@keyframes rgbFill {
    0%, 100% {
        fill: #5f86f2;
    }
    12.5% {
        fill: #a65ff2;
    }
    25% {
        fill: #f25fd0;
    }
    37.5% {
        fill: #f25f61;
    }
    50% {
        fill: #f2cb5f;
    }
    62.5% {
        fill: #abf25f;
    }
    75% {
        fill: #5ff281;
    }
    87.5% {
        fill: #5ff2f0;
    }
}

.rgbFill {
    fill: #5f86f2;
    -webkit-animation: rgbFill 15s ease infinite;
    -moz-animation: rgbFill 15s ease infinite;
    animation: rgbFill 15s ease infinite;
}

.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.svelte-emoji-picker__trigger {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    border: none;
    padding-right: 10px;
}

.svelte-emoji-picker__emoji-detail {
    display: none;
}

.svelte-emoji-picker__emoji-list {
    height: 13.4rem!important;
}

.fa-svelte {
    color: white;
}